---
import type { GetStaticPaths } from 'astro';
import Page from '../../components/Page.astro';
import Zine from '../../components/Zine';
import { zines, zinesObject } from '../../config';

export const getStaticPaths: GetStaticPaths = () => {
	return zines.map(([zineTitle]) => ({ params: { zineTitle } }));
};

const { zineTitle } = Astro.params;

const zine = zinesObject[zineTitle as keyof typeof zinesObject];

if (!zine || !zineTitle) {
	return Astro.redirect('/');
}
---

<Page title={`${zineTitle} | AnahitaCreates Zine`}>
	<div class="flex min-h-screen flex-col items-center justify-center bg-black/20 py-2">
		<nav class="flex gap-3 self-start px-4 underline">
			<a href="/" class="text-2xl">Home</a>
		</nav>
		<div class="flex-1 flex items-center justify-center">
			<div
				class="rounded bg-white/50 p-2 px-6 pb-3 shadow-xl shadow-black/10">
				<h1 class="px-3 text-center text-4xl">{zine.name}</h1>
				<div class="flex flex-1 items-center">
					<Zine {zine} title={zineTitle} client:load />
				</div>
			</div>
		</div>
	</div>
</Page>
